{% extends 'providers/layout.html' %}{% block content %}
<div class="container-fluid vh-100 padding-top-custom">
  <div
    class="container-fluid padding-div-form-container w-50 d-flex align-items-center justify-content-center bg-secondary bg-gradient align-middle border rounded"
  >
    <form
      action="{% url 'new_provider' %}"
      method="post"
      class="w-75 h-75 mb-30 p-3"
    >
      {% csrf_token %}
      <h3>Add New Provider</h3>
      <div class="row">
        <input name="full_name" type="text" placeholder="Full Name" class="border rounded mb-3 p-2">
      </div>
      <div class="row">
        <div class="col-6 p-0">
          <input
            name="email"
            type="text"
            placeholder="Email"
            class="border rounded mb-3 p-2 w-100"
          />
        </div>
        <div class="col-1"></div>
        <div class="col-5 p-0">
          <input
            name="phone"
            type="text"
            placeholder="Phone"
            class="border rounded mb-3 pt-2 pb-2 w-100"
          />
        </div>
      </div>
      <div class="row">
        <input
          name="name"
          type="text"
          placeholder="Specialties"
          class="border rounded mb-3 p-2"
        />
      </div>
      <div class="row">
        <input
          name="name"
          type="text"
          placeholder="Languages"
          class="border rounded mb-3 p-2"
        />
      </div>
      <div class="row">
        <input
          name="name"
          type="text"
          placeholder="Insurance"
          class="border rounded mb-3 p-2"
        />
        <input
          name="details"
          type="text"
          placeholder="Details"
          class="border rounded mb-3 p-2"
        />
      </div>
      <div class="row mb-3">
        <label for="comments">Comments:</label>
        <textarea
          id="comments"
          rows="7"
          cols="50"
          class="border rounded p-2"
        ></textarea>
      </div>
      <div class="row">
        <input type="submit" class="btn btn-info align-bottom" value="Save" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
