{% extends 'providers/layout.html' %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-custom-gray full-height padding-top-custom">
      <nav class="sidebar px-1">
        <form class="search-container" action="{% url 'home' %}" method="get">
          <div class="row">
            <input name="name" type="text" placeholder="Search by Name" />
          </div>
          <div class="row">
            <select name="license" title="License">
              <option selected disabled>License</option>
              {% for license in licenses %}
              <option value="{{ license.id }}">{{ license.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="row">
            <select name="specialty" title="Specialty">
              <option selected disabled>Specialty</option>
              {% for specialty in specialties %}
              <option value="{{ specialty.id }}">{{ specialty.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="row">
            <select name="language" title="Language">
              <option selected disabled>Language</option>
              {% for language in languages %}
              <option value="{{ language.id }}">{{ language.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="row">
            <select name="insurance" title="Insurance">
              <option selected disabled>Insurance</option>
              {% for i in insurance %}
              <option value="{{ i.id }}">{{ i.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="row">
            <input
              type="submit"
              value="Search"
              class="btn btn-info align-bottom"
            />
          </div>
        </form>
      </nav>
    </div>
    <div class="col-10 padding-top-custom">
      <div class="container-fluid">
        <table class="table table-striped">
          <thead>
            <tr class="border-bottom">
              <th>ID</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Insurance</th>
              <th>Specialties</th>
              <th>Languages</th>
              <th>Edit/Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for provider in providers %}
            <tr>
              <td>{{ provider.id }}</td>
              <td>{{ provider.full_name }}</td>
              <td>{{ provider.phone }}</td>
              <td>{{ provider.email }}</td>
			  <td>{{ provider.insurance_list|join:', ' }}</td>
			  <td>{{ provider.specialty_list|join:', ' }}</td>
			  <td>{{ provider.language_list|join:', ' }}</td>
              <td>
                  <form action="providers/edit/" method="post">{% csrf_token %}           
                    <input type="hidden" name="providerID" value={{ provider.id }}>       
                    <input type="submit" class="btn btn-info" value="Edit"></input>
                  </form>
                  <form action="providers/delete/" method="post">{% csrf_token %}           
                    <input type="hidden" name="providerID" value={{ provider.id }}>       
                    <input type="submit" class="btn btn-danger" value="Delete"></input>
                  </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
